.home-container {
    height: 100vh; /* Высота равна высоте экрана */
    width: 100%; /* Ширина на 100% */
    display: flex; /* Flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    position: relative; /* Относительное позиционирование для дочерних элементов */
}

.hero-section {
    background-image: url('/good_background.png'); /* Путь к изображению */
    background-size: cover; /* Растянуть изображение на всю секцию */
    background-position: center; /* Центрировать изображение */
    width: 100%; /* Ширина секции 100% */
    height: 100%; /* Высота секции 100% */
    display: flex; /* Flexbox для управления расположением элементов */
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center; /* Центрируем содержимое по вертикали */
    color: white; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    padding: 20px; /* Отступы */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
}

.hero-content {
    z-index: 1; /* Убедитесь, что текст находится сверху */
}

.welcome-message {
    font-size: 1.5rem; /* Размер текста приветствия */
    color: #fff; /* Цвет текста */
    margin: 10px 0; /* Отступы */
}

h1 {
    font-size: 3rem; /* Размер заголовка */
    margin: 0; /* Убираем отступы */
}

p {
    font-size: 1.5rem; /* Размер текста */
    margin: 10px 0; /* Отступы сверху и снизу */
}
